# Eksplisitt default-registry. Uten denne linja setter Dependabot GitHub Packages
# som global registry (fra `registries:` i dependabot.yml), og alle pakker – også
# @types/node – forsøkes hentet derfra. GitHub Packages proxyer ikke npmjs.
registry=https://registry.npmjs.org/
@navikt:registry=https://npm.pkg.github.com
@nais:registry=https://npm.pkg.github.com
engine-strict=true
