.frame {
	background-color: #fff;
	box-shadow: 0 0 5px 1px #0033;
	color: #262626;
	font-family: 'Source Sans Pro', Arial, sans-serif;
	height: 160px;
	justify-content: center;
	margin-right: 32px;
	text-align: center;
}
.container {
	display: flex;
	justify-content: center;
}
.tallramme {
	width: 120px;
	align-content: flex-end;
}
.beskrivelse {
	align-items: center;
	font-size: 16px;
	font-style: normal;
	font-weight: normal;
	margin-top: 10px;
}
.coloredField {
	background-color: #cde7d8;
	height: 50px;
	text-align: center;
	width: 75px;
}
.field {
	height: 50px;
	text-align: center;
	width: 75px;
}
.forklaring {
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 10px;
}
.vl {
	border: 1px solid #a0a0a0;
	height: 97px;
	margin: 13px 15px 0;
}
.number {
	font-size: 25px;
	padding-top: 7px;
}
