.selectEnkelFelt {
	display: flex;
	align-items: center;
	margin-top: var(--ax-space-8);
}
.selectLeggTil {
	margin-top: var(--ax-space-16);
}
.noGap {
	gap: 0;
}
.dragHandle {
	cursor: grab;
	display: flex;
	align-items: center;
	margin-right: var(--ax-space-8);
	padding: 0;
	border: none;
	background: none;
	color: var(--ax-neutral-700);
	flex-shrink: 0;
}
.dragHandle:hover {
	color: var(--ax-neutral-1000);
}